In [3]:
import pandas as pd
import os.path as op
import os

In [12]:
dfile = "../mg_template.csv"
outdir = "../data/out/"

In [27]:
df = pd.read_csv(dfile)
df

,name,mg_f,mg_r,wgs_technology,join
0,OV-2_P2_metagenome,/mnt/stepanauskas_nfs/ebecraft/OV2_metagenome/...,None,illumina,True
1,OV-2_P3_metagenome,/mnt/stepanauskas_nfs/ebecraft/OV2_metagenome/...,None,illumina,True
2,FAKE_MG,/mnt/stepanauskas/fakemg.fastq.gz,None,Illumina,False

In [31]:

to_recruit = []

for i, r in df.iterrows():
    if r.join==True:
        to_recruit.append(op.join(outdir, "%s.extendedFrags.fastq.gz" % r['name']))
        print(r['name'])
    elif r.join==False:
        to_recruit.append(r.mg_f)
df['to_recruit'] = to_recruit
df

OV-2_P2_metagenome
OV-2_P3_metagenome

,name,mg_f,mg_r,wgs_technology,join,to_recruit
0,OV-2_P2_metagenome,/mnt/stepanauskas_nfs/ebecraft/OV2_metagenome/...,None,illumina,True,../data/out/OV-2_P2_metagenome.extendedFrags.f...
1,OV-2_P3_metagenome,/mnt/stepanauskas_nfs/ebecraft/OV2_metagenome/...,None,illumina,True,../data/out/OV-2_P3_metagenome.extendedFrags.f...
2,FAKE_MG,/mnt/stepanauskas/fakemg.fastq.gz,None,Illumina,False,/mnt/stepanauskas/fakemg.fastq.gz

In [33]:
for m in df['to_recruit']:
    print(m)

../data/out/OV-2_P2_metagenome.extendedFrags.fastq.gz
../data/out/OV-2_P3_metagenome.extendedFrags.fastq.gz
/mnt/stepanauskas/fakemg.fastq.gz

In [14]:
df[df["join"]==False]

      name                               mg_f  mg_r wgs_technology   join
2  FAKE_MG  /mnt/stepanauskas/fakemg.fastq.gz  None       Illumina  False

In [6]:
df['name'] = [op.basename(i).split(".")[0] for i in df['mg_f']]
df

,mg_f,mg_r,wgs_technology,join,name
0,/mnt/stepanauskas_nfs/julia/testfragrecruitmen...,/mnt/stepanauskas_nfs/julia/testfragrecruitmen...,illumina,True,SRS019030
1,/mnt/stepanauskas_nfs/julia/testfragrecruitmen...,/mnt/stepanauskas_nfs/julia/testfragrecruitmen...,illumina,True,SRS022524
2,/mnt/stepanauskas_nfs/julia/testfragrecruitmen...,/mnt/stepanauskas_nfs/julia/testfragrecruitmen...,illumina,True,SRS078197
3,/mnt/stepanauskas_nfs/julia/testfragrecruitmen...,NaN,pyro,False,SRR063559
4,/mnt/stepanauskas_nfs/julia/testfragrecruitmen...,NaN,pyro,False,SRR063903
5,/mnt/stepanauskas_nfs/julia/testfragrecruitmen...,NaN,pyro,False,SRR061736
6,pairedexample/in/a/directory/pe.fastq,NaN,illumina,True,pe

In [115]:
mglist = list(df.mg_f[df['join']==False])
mglist

['/mnt/stepanauskas_nfs/julia/testfragrecruitment/hmp/pyro_mgs/SRS019030_454/SRR063559.fastq.gz',
 '/mnt/stepanauskas_nfs/julia/testfragrecruitment/hmp/pyro_mgs/SRS022524_454/SRR063903.fastq.gz',
 '/mnt/stepanauskas_nfs/julia/testfragrecruitment/hmp/pyro_mgs/SRS078197_454/SRR061736.fastq.gz']

In [116]:
tojoin = df.loc[df['join']==True]

In [117]:
list(tojoin.mg_f)
list(tojoin.mg_r)

['/mnt/stepanauskas_nfs/julia/testfragrecruitment/hmp/illumina_mgs/SRS019030/SRS019030.denovo_duplicates_marked.trimmed.2.fastq.gz',
 '/mnt/stepanauskas_nfs/julia/testfragrecruitment/hmp/illumina_mgs/SRS022524/SRS022524.denovo_duplicates_marked.trimmed.2.fastq.gz',
 '/mnt/stepanauskas_nfs/julia/testfragrecruitment/hmp/illumina_mgs/SRS078197/SRS078197.denovo_duplicates_marked.trimmed.2.fastq.gz',
 nan]

In [118]:

for n, f, r in zip(tojoin['name'], tojoin.mg_f, tojoin.mg_r):
    prefix = op.basename(f).split(".")[0]
    outdir = op.dirname(f)
    print(prefix, outdir, n)
    #if pd.isnull(r):
    #    r=None
    #else:
        #joinedfq = join(prefix, f, fq2=r, threads=cores, mmd=mmd, mino=mino, maxo=maxo, threads=threads, outdir=outdir)
        #mglist.append(joinedfq)

SRS019030 /mnt/stepanauskas_nfs/julia/testfragrecruitment/hmp/illumina_mgs/SRS019030 SRS019030
SRS022524 /mnt/stepanauskas_nfs/julia/testfragrecruitment/hmp/illumina_mgs/SRS022524 SRS022524
SRS078197 /mnt/stepanauskas_nfs/julia/testfragrecruitment/hmp/illumina_mgs/SRS078197 SRS078197
pe pairedexample/in/a/directory pe

In [ ]:
def process_multi_mgs(intable, outdir, threads, mmd, mino, maxo, threads, outdir, minlen):
    
    df = pd.read_csv(intable)
    df.name = [op.basename(i).split(".")[0] for i in df['mg_f']]
    mglist = list(df.mg_f[df['join']==False])
    
    # join reads identified as joined 
    tojoin = df.loc[df['join']==True]
    
    for n, f, r in zip(tojoin['name'], tojoin['mg_f'], tojoin['mg_r']:
        if pd.isnull(r):  # if reverse read cell is blank, but join=True, reads assumed to be interleaved
            r=None
        joinedfq = join(n, f, fq2=r, threads=cores, mmd=mmd, mino=mino, maxo=maxo, threads=threads, outdir=outdir)
        mglist.append(joinedfq)
    
    # size fileter all reads:
    processed_mgs = []
    read_counts = []
    nameorder = []
    for m in mglist:
        nameorder.append(op.basename(m).split(".")[0])
        newfilename = op.basename(m).replace(".fastq", "minlen_%s.fastq" % minlen)
        outfile = op.join(outdir, newfilename)
        new_out, count = read_size_filter(m, minlen, outfile, cores=threads)
        
        processed_mgs.append(new_out)
        read_counts.append(count)
                       
    data = {'name':nameorder, 'to_recruit': processed_mgs, 'read_count':read_counts}
    newinfo = pd.DataFrame(data)
    
    res_table = pd.merge(df, newinfo, how='outer', on='name')
    return res_table